:root{
    --mainColor:#46344E;
    --secondaryColor:#382a3f;
    --borderColor:#1d1520;
--themeDotBorder:#FFF;
    --mainText:rgb(255, 255, 255);
    --secondaryText:#eeeeee;
--previewbg:rgb(29,21,32,0.8);
--previewShadow:#2b202f;
--buttoncolor:#8534a3;
}